* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(writting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.navbar {
  background-color: rgb(40, 39, 44);
  padding: 10px 0px;
}
.navbar-brand {
  font-family: "Lobster", sans-serif;
  color: rgb(105, 210, 231);
  font-weight: bold;
  font-size: 35px;
  padding: 0px 20px;
}
.navbar-brand:hover {
  color: rgb(105, 210, 231);
}
.nav-item {
  padding: 0px 9px;
}
.nav-link {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}
.nav-link:hover {
  color: #5bb12f;
  transition: 0.1s;
  cursor: pointer;
}
.navbar-toggler {
  background-color: rgb(105, 210, 231);
  color: #fff;
  border: transparent;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #fff;
}
.carousel-caption h1 {
  font-family: "Oswald", sans-serif;
  font-size: 68px;
  font-weight: bold;
  margin-bottom: 60px;
  line-height: 50px;
  color: #fff;
}
.carousel-caption p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 100px;
  color: #fff;
  max-width: 500px;
  margin: auto;
  margin-bottom: 60px;
}
.btn-primary {
  background-color: rgb(105, 210, 231);
  border: transparent;
  margin-bottom: 100px;
}
.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.feature {
  background-color: #fff;
}
.fa-wand-magic-sparkles,
.fa-gift,
.fa-wordpress,
.fa-plug,
.fa-link,
.fa-css3,
.fa-cube,
.fa-joomla {
  background-color: rgb(105, 210, 231);
  color: #fff;
  padding: 25px 25px;
  margin-bottom: 30px;
  font-size: 30px;
  margin: 10px;
}

.feature-content {
  padding: 100px 70px;
}
.feature-content h1 {
  font-family: "Oswald", sans-serif;
  color: #666;
  font-weight: normal;
  font-size: 16px;
}
.feature-content p {
  font-family: "Oswald", sans-serif;
  color: #464444;
  font-weight: normal;
  font-size: 14px;
  max-width: 240px;
  margin: auto;
  margin-bottom: 20px;
}
.call-to-action {
  background-color: transparent;
  color: #fff;
}
.call-to-action h1 {
  font-weight: 400;
  font-size: 30px;
  max-width: 830px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  line-height: 1.8;
}
.btn-primary-second {
  background-color: rgb(105, 210, 231);
  border: transparent;
  color: #fff;
  padding: 15px 40px;
  font-size: 17px;
  border-radius: 4px;
  margin-bottom: 50px;
}
.btn-primary-second:hover {
  background-color: transparent;
  border: 1px solid red;
  transition: 0.8s;
  cursor: pointer;
}
.portfolio {
  margin-top: 50px;
  background-color: #e1dbdb;
  padding: 50px 0px;
}

.main {
  position: relative;
  width: 100%;
}
.main img {
  height: auto;
  width: 100%;
}

.overvely {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(105, 210, 231, 0.502);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.main:hover .overvely {
  height: 100%;
}
.fa-cart-shopping,
.fa-briefcase {
  font-size: 40px;
  color: #fff;
  margin-top: 50px;
  margin: 20px;
}
.overvely h1 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 50px;
}
.about-us {
  background-color: #ffffff;
  padding: 50px 0px;
}
.about-us-content,
.our-service-section-content,
.about-portfolio,
.team-section h1 {
  font-family: "Oswald", sans-serif;
  color: #464444;
  font-weight: bold;
  font-size: 30px;
  padding-top: 50px;
}
.about-us-content,
.our-service-section-content,
.about-portfolio,
.team-section p {
  font-family: "Oswald", sans-serif;
  color: #6c6969;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 70px;
}
.team {
  background-color: #fff;
}

.welcome-section img {
  width: 100%;
  border-radius: 2px;
  margin-bottom: 40px;
}
.welcome-section h1 {
  font-family: "Oswald", sans-serif;
  color: #464444;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}
hr {
  width: 10%;
  margin: auto;
  height: 2px;
  background-color: #2a2828;
  margin-bottom: 20px;
}
hr:hover {
  width: 30%;
  background-color: rgb(105, 210, 231);
  transition: 1s;
  cursor: pointer;
}
.welcome-section h1:hover {
  color: rgb(105, 210, 231);
  transition: 1s;
  cursor: pointer;
}
.welcome-section p {
  font-family: "Oswald", sans-serif;
  color: #6c6969;
  font-weight: 300;
  font-size: 14px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 50px;
}
.progress-title {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0 0 20px;
}
.progress {
  height: 20px;
  background: #000000;
  border-radius: 30px;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}
.progress .progress-bar {
  border-radius: 30px;
  box-shadow: none;
  position: relative;
  animation: animate-positive 2s;
}
.progress .progress-bar:before {
  content: "";
  width: 100%;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.progress .progress-bar:after {
  content: "";
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ffffff;
  border: 8px solid #6c6969;
  position: absolute;
  bottom: -8px;
  right: 0;
  z-index: 1;
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
.about-us-section2 {
  background-color: #e1dbdb;

  padding: 50px 0px;
}
.about-us-section2 img {
  width: 100%;
}
.our-service {
  background-color: #fff;
}
.fa-wand-magic-sparkles:hover,
.fa-joomla:hover,
.fa-plug:hover,
.fa-cube:hover,
.fa-wordpress:hover,
.fa-css3:hover {
  background-color: transparent;
  color: rgb(105, 210, 231);
  border: 1px solid rgb(105, 210, 231);
}
.our-service-content {
  padding-bottom: 50px;
}
.our-service-content h1 {
  font-family: "Oswald", sans-serif;
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-top: 10px;
}
.our-service-content p {
  font-family: "Oswald", sans-serif;
  color: #464444;
  font-weight: normal;
  font-size: 13px;
  max-width: 201px;
}
.mb {
  margin-bottom: 50px;
}
.fect {
  padding: 90px 45px;
}
.fect-content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 0px;
  padding: 25px 0px;
  margin-bottom: 30px;
}
.fa-cloud-arrow-up,
.fa-person,
.fa-code,
.fa-check {
  color: rgb(105, 210, 231);
  font-size: 40px;
  margin-bottom: 10px;
}
.fect-content h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(105, 210, 231);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
.fect-content h2 {
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 13px;
}
.team-item {
  padding: 0px 50px;
  padding-bottom: 70px;
}
.icon h2 {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}
.icon h3 {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}
.fa-linkedin {
  margin: 2px 5px;
  color: #000000;
}
.price {
  background-color: #000000a9;
  color: #fff;
  padding: 0px 40px;
}

.swiper-slide {
  background-color: #fff;
  margin-bottom: 50px;
}

.swiper-slide h1 {
  text-align: center;
  font-size: 18px;
  background: rgb(105, 210, 231);
  padding: 20px 0px;
}
.swiper-slide h1:hover {
  color: red;
  transition: 1s;
  cursor: pointer;
}
.swiper-slide h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 35px;
  padding-top: 15px;
}
.swiper-slide h3 {
  text-align: center;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #66666676;
  line-height: 20px;
}
.swiper-slide h4 {
  text-align: center;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  border-bottom: 1px solid #66666676;
  line-height: 50px;
}

.wiper-pagination {
  background-color: #fff;
}
.img {
  position: relative;
}
.img img {
  width: 100%;
}
.type {
  margin-bottom: 40px;
}
.date {
  position: absolute;
  top: 0px;
  left: 20px;

  background-color: rgba(105, 210, 231, 0.687);
  padding: 10px 10px;
}
.date h1 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.date h2 {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.content h3 {
  font-family: "Oswald", sans-serif;
  color: rgb(105, 210, 231);
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.content p {
  font-family: "Oswald", sans-serif;
  color: #666;
  font-weight: normal;
  font-size: 12px;
  max-width: 338px;
}
.btn-primary-third {
  background-color: rgb(105, 210, 231);
  color: #fff;
  font-size: 12px;
  border-radius: 1px;
  border: transparent;
  padding: 7px 25px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
.btn-primary-third:hover {
  background-color: transparent;
  color: #666;
  border: 1px solid #666;
}
.container-flued {
  background-color: #00000090;
}
.text h1 {
  font-family: "Oswald", sans-serif;
  color: rgb(105, 210, 231);
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.text h2 {
  font-family: "Oswald", sans-serif;
  color: #e4e0e0;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
.text p {
  font-family: "Oswald", sans-serif;
  color: #e4e0e0;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 25px;
  max-width: 465px;
  margin: auto;
}
.partner {
  background-color: #fff;
  padding-bottom: 90px;
}
.contect-us {
  background-color: transparent;
}
.background {
  background-image: url(street.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
input[type="text"],
select {
  width: 100%;
  padding: 16px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  margin-bottom: 40px;
}
.btn-primary-forth {
  background-color: rgb(105, 210, 231);
  color: #fff;
  font-size: 20px;
  border-radius: 1px;
  border: transparent;
  padding: 15px 30px;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
}
.btn-primary-forth:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid red;
  cursor: pointer;
}

.contact-info {
  background-color: rgba(105, 210, 231, 0.687);
  margin-bottom: 50px;
  padding: 20px 30px;
  border-radius: 4px;
}
.contact-info h1 {
  font-family: "Oswald", sans-serif;
  color: #e4e0e0;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
.contact-info h2 {
  font-family: "Oswald", sans-serif;
  color: #e4e0e0;
  font-weight: normal;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 1.5px;
}
.footer {
  background-color: #000000;
  border-top: 2px solid rgb(105, 210, 231);
  padding: 10px 0px;
}
.footer h1 {
  font-family: "Oswald", sans-serif;
  color: #666;
  font-weight: normal;
  font-size: 15px;
}
.fa-twitter,
.fa-facebook-f,
.fa-linkedin-in,
.fa-google-plus-g,
.fa-dribbble {
  background-color: rgb(105, 210, 231);
  color: #fff;
  padding: 6px 10px;
  border-radius: 1px;
  text-align: center;
  margin: 5px;
}
.fa-twitter:hover,
.fa-facebook-f:hover,
.fa-linkedin-in:hover,
.fa-google-plus-g:hover,
.fa-dribbble:hover{
    background-color: #fff;
    color: #666;
}
.footer h2 {
  font-family: "Oswald", sans-serif;
  color: rgb(105, 210, 231);
  font-weight: normal;
  font-size: 15px;
}
.footer h2:hover{
    color: red;
    cursor: pointer;
}
